global
        maxconn 100
        log     127.0.0.1 local2

defaults
        log global
        mode tcp
        retries 2
        timeout client 30m
        timeout connect 4s
        timeout server 30m
        timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

backend postgres_master
    mode tcp
    option httpchk OPTIONS /master
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server node1 192.168.1.70:5432 maxconn 100 check port 8008
    server node2 192.168.1.71:5432 maxconn 100 check port 8008
    server node3 192.168.1.72:5432 maxconn 100 check port 8008

backend postgres_replica
    mode tcp
    option httpchk OPTIONS /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    server node1 192.168.1.70:5432 maxconn 100 check port 8008
    server node2 192.168.1.71:5432 maxconn 100 check port 8008
    server node3 192.168.1.72:5432 maxconn 100 check port 8008

frontend postgres_write
    bind *:7432
    default_backend postgres_master

frontend postgres_read
    bind *:7433
    default_backend postgres_replica
